table {
    width: 100%;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  mat-select {
      margin-left: 10px;
  }

  .example-card {
    margin: auto;
    margin-top: 30px;
  }

  .example-table {
    margin-top: 10px;
    margin-left: 30px;
    width: 90%;
  }