<mat-card class="example-card" >
    <mat-card-header>
        <mat-card-title>Acknowledgements</mat-card-title>
    </mat-card-header>
    <div style="width: 100%;">
        <span>Filters </span>
        <mat-form-field appearance="fill">
            <mat-label>Choose an Month</mat-label>
            <mat-select [(value)]="selectedMonth" (selectionChange)="update()">
                <mat-option *ngFor="let month of months" [value]="month.id">{{month.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Choose an Year</mat-label>
            <mat-select [(value)]="selectedYear" (selectionChange)="update()">
                <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
            </mat-select>
        </mat-form-field>
        <span class="example-spacer"></span>
        <button style="float: right;" type="button" mat-raised-button (click)="download()">Download Selected</button>
    </div>
    <table  mat-table [dataSource]="dataSource" class="example-table">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="complianceName">
            <th mat-header-cell *matHeaderCellDef> Compliance Name </th>
            <td mat-cell *matCellDef="let element"> {{element.complianceName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="fileName">
            <th mat-header-cell *matHeaderCellDef> Ack. file Name </th>
            <td mat-cell *matCellDef="let element"> {{element.fileName}} </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
        </tr>
    </table>
</mat-card>