 
   <div *ngIf="flag;"> 
    <button style="background-color: red;" mat-raised-button matBadge="" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
      Due Date Over
  </button>
    </div>
 
<mat-card class="example-card">
  <table>
    <tr>
      <td>
      
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
       
          <div>
        {{compliance.name}}
      </div>
      </mat-card-title>
      <mat-card-subtitle>Due Date - {{compliance.dueDate}}</mat-card-subtitle>
      <mat-card-subtitle>{{compliance.description}}</mat-card-subtitle>
     
    </mat-card-header>
     </td>
     <td>
  
      <section>
        <h2>  Assignee : {{compliance.assignee.name}}</h2>
      </section> 
 
  </td>
  </tr>
   </table>
  </mat-card>
  <mat-card>
    
<table>
  <tr>
    <td>
     
            <mat-form-field appearance="fill">
                <mat-label>Assignee</mat-label>
                <mat-select [(ngModel)]="assigneeSelect" [placeholder]="assigneeSelect" (selectionChange)="changeAssignee($event.value)">
                  
                  <mat-option *ngFor="let assignee of assigneeList" [value]="assignee.id">
                    {{assignee.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          
    </td>
    <td> 
   
           <mat-form-field appearance="fill">
               <mat-label>Status</mat-label>
               <mat-select [(ngModel)]="modeselect" [placeholder]="modeselect" (selectionChange)="changeStatus($event.value)">
                 <mat-option *ngFor="let status of statuses" [value]="status.id">
                   {{status.name}}
                 </mat-option>
               </mat-select>
             </mat-form-field>
             
       
    </td>
  </tr>
  <tr>
    <td>  
            <mat-form-field appearance="fill">
                <mat-label>Due Date</mat-label>
                <input matInput [matDatepicker]="picker"  [formControl]="serializedDate" (dateChange)="changeDate($event.value)"> 
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker  #picker></mat-datepicker>
              </mat-form-field>
       
    </td>
    <td>
       
      <mat-form-field  style="width:50%;height:30px" [style.fontSize]="50">
          <mat-label>Comments</mat-label>
          <textarea  [(ngModel)]="compliance.comments" matInput
                    cdkTextareaAutosize
                     
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"  value="compliance.comments"></textarea>
        </mat-form-field>
         
    </td>
  </tr>
</table>
</mat-card>
  <section>
    
        <div class="example-button-row">
          
            <button mat-raised-button color="primary" (click)="saveCompliance()">Save</button>
       </div>
      </section>
  <div>
 
<app-workflow-progress [compliance] = "compliance"></app-workflow-progress>
</div>
 