 
  
  
 <mat-card>
   <h2>Forms</h2>
    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let form of forms">
          <mat-expansion-panel-header>
          <mat-panel-title>
            Upload {{form.name}}
          </mat-panel-title>
         {{form.message}}
        </mat-expansion-panel-header>
      <mat-expansion-panel-description>
        
      </mat-expansion-panel-description>
      <div *ngIf="!form.formPath">
        <mat-form-field>
          <mat-label>Select File</mat-label>
          <input matInput [(ngModel)]="form.newFile" f   required>
          <input  type="file" #UploadFileInput id="fileUpload" (change)="fileChangeEvent($event,form.templateId,form.formId)" name="fileUpload"
             accept="*/*"  />
          </mat-form-field>
         <div>
          <button mat-button  (click)="downloadFileNew(form.templatePath)" >Download Template</button>
        </div>
      </div>
      <div *ngIf="form.formPath">
       Uploaded File : {{form.formPath}}
       <div>
       <mat-form-field>
        <mat-label>Select to replace file</mat-label>
        <input matInput [(ngModel)]="form.newFile" f   required>
        <input  type="file" #UploadFileInput id="fileUpload" (change)="fileChangeEvent($event,form.templateId,form.formId)" name="fileUpload"
           accept="*/*"  />
        </mat-form-field>
      </div>
      <div>
        
        <button mat-raised-button  (click)="downloadFileNew(form.templatePath)" color="primary">Download Template</button>
        <button mat-raised-button  (click)="downloadFileNew(form.formPath)" color="primary">Download Form</button>
      </div>
      </div>
    
        </mat-expansion-panel>
  </mat-accordion>
</mat-card>
<div></div>
 
<mat-card>
  <h2>Acknowledgement/challans</h2>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Upload acknowledgements/challans
        </mat-panel-title>
         
         <ul *ngFor="let challan of challansList">
           <li>
            {{challan.name}}
           </li>
         </ul>
      
         <mat-list *ngFor="let challan of challansList">
          
        </mat-list>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-label>Select File</mat-label>
        <input matInput [(ngModel)]="challans" f   required>
        <input  type="file" #UploadFileInput id="fileUpload" (change)="fileChangeEventChallan($event)" name="fileUpload"
           accept="*/*"  />
   </mat-form-field>
      <div>
     <button mat-raised-button color="primary" (click)="downloadFileList()">Download</button>
  </div>
    </mat-expansion-panel>
    
  </mat-accordion>
</mat-card>
 