.example-spacer {
    flex: 1 1 auto;
  }

  .example-icon {
    border: none;
    outline: none;
  }

  .mat-toolbar{
    background-image: url('../../../assets/background/TeamBackground.png');
    background-size: cover;
  }