<mat-toolbar>
    
    <span style="font-size: 30px;color:whitesmoke">Compliance <sub style="font-size: 15px;">By Phoenix</sub></span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button style="color: white;margin-right: 10px;" (click)="openBottomSheet()" ><mat-icon>notifications</mat-icon></button> -->
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>face</mat-icon>
    </button> -->
  </mat-toolbar>