<mat-list class="item-list" >
    <div mat-subheader>Notifications</div>
    <mat-list-item  *ngFor="let notification of notifications" >
      <mat-icon *ngIf="notification.source !== 'System'" mat-list-icon>notifications</mat-icon>
      <mat-icon style="color: #e3bc08;" *ngIf="notification.source === 'System'" mat-list-icon>warning</mat-icon>
      <span *ngIf="notification.source !== 'System'">{{fromNow(notification.pubDate)}}</span>
      <span *ngIf="notification.source === 'System'">{{fromNow(notification.pubDate)}}</span>
      <div mat-line class="item-list-txt" ><span *ngIf="notification.source === 'System'" >Due date Alert</span> {{notification.title}}</div>
      <div mat-line class="item-list-txt" > <span>{{notification.source}}</span> <span class="example-spacer"></span><span></span> </div>
    </mat-list-item>
  </mat-list>
  