<mat-card >
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Compliance Name</mat-label>
            <input type="text" matInput [(ngModel)]="name" [formControl]="emailFormControl" placeholder="Compliance Name">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Compliance Name
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Compliance Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
<br/>
        <mat-form-field class="example-full-width">
            <mat-label>Entity</mat-label>
            <input type="text" matInput [(ngModel)]="category" [formControl]="entityFormControl" placeholder="Compliance Name">
            <mat-error *ngIf="entityFormControl.hasError('email') && !entityFormControl.hasError('required')">
                Entity
            </mat-error>
            <mat-error *ngIf="entityFormControl.hasError('required')">
                Entity is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <div mat-dialog-actions>
            <button mat-raised-button [disabled]="emailFormControl.hasError('required') && entityFormControl.hasError('required')" (click)="addNewComplianceTemplate()"
                name="formName">Submit</button>
            <button mat-button (click)="onNoClick()">Close</button>
        </div>
    </form>
</mat-card>