<mat-card class="example-card">
<mat-toolbar><span>News Notification</span></mat-toolbar>
    <mat-card class="example-card" *ngFor="let news of newsList">
        <mat-card-header>
            <mat-card-title><a target="_blank" href="{{news.link}}" >{{news.title}}<mat-icon style="font-size:10px;margin-left:5px">open_in_new</mat-icon></a></mat-card-title>
            <mat-card-subtitle>{{news.pubDate}}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    
</mat-card>
