.example-card {
    max-width: 400px;
    margin: 4px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-card-title {
      font-size: 18px;
  }