.mat-tab-label-container {
    background-image: url('../assets/background/TeamBackground.png');
}

.example-tab-icon {
    margin-right: 8px;
  }

  .notification {
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 100;
    outline: none;
  }