<div>
    <app-header></app-header>
</div>
<mat-tab-group [color]="color" [backgroundColor]="background" mat-stretch-tabs>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">home</mat-icon>
            Home
          </ng-template>
        <div style="margin-top:20px">
            <div style="float:left;width:70%">
                <mat-card>
                    <mat-tab-group [color]="color" [backgroundColor]="background" mat-align-tabs="start">
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">calendar_today</mat-icon>
                                Calendar
                              </ng-template>
                            <mat-card>
                                <app-calendar [event]="event"></app-calendar>
                            </mat-card>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">list</mat-icon>
                                List
                              </ng-template>
                            <mat-card>
                                <app-table [event]="event"></app-table>
                            </mat-card>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card>
            </div>
            <div style="float:right;width:30%;padding: 10px;">
                <app-news-feed></app-news-feed>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Templates">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">list_alt</mat-icon>
            Templates
          </ng-template>
        <app-compliance-template></app-compliance-template>
    </mat-tab>
    <mat-tab label="Audit">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">fact_check</mat-icon>
            Audit
          </ng-template>
          <app-audit-report></app-audit-report>
    </mat-tab>
    <mat-tab label="System">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">admin_panel_settings</mat-icon>
            System
          </ng-template>
        <app-bulk-upload (newItemEvent)="addItem($event)"></app-bulk-upload>
    </mat-tab>
</mat-tab-group>
<button mat-fab class="notification" (click)="openBottomSheet()" ><mat-icon>notifications</mat-icon></button>