h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

  .btn-primary {
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.87);
  }

  .btn {
    outline: none;
    border: none;
  }

  .row {
    margin-top: 10px;
  }

  .mat-button-toggle-button {
    outline: none;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  mat-button-toggle-group {
    font-size: 12px;
  }