<mat-card *ngIf="!formNameAdded && !formId">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Form Name</mat-label>
            <input type="text" matInput [formControl]="emailFormControl" placeholder="Form Name">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Form Name
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Form Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <div mat-dialog-actions>
            <button mat-raised-button [disabled]="emailFormControl.hasError('required')" (click)="addFormName($event)"
                name="formName">Add Form Name</button>
            <button mat-button (click)="onNoClick()">Close</button>
        </div>
    </form>
</mat-card>
<mat-card *ngIf="formNameAdded && formId">
    <div style="text-align: center;"><input type="file" class="fileUpload" (change)="fileChangeEvent($event.target.files)"
            name="fileUpload" accept="*/*" /></div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Close</button>
    </div>
</mat-card>