.fileUpload::-webkit-file-upload-button {
    visibility: hidden;
  }
  .fileUpload {
    color: transparent;
    width: 100px;
  }
  .fileUpload::before {
    content: 'Add Form';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    color: black;
  }
  .fileUpload:hover::before {
    border-color: black;
  }
  .fileUpload:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

