.example-action-buttons {
    padding-bottom: 20px;
    padding: 10px;
    right:0;
    left:auto;
    width: 100%;
    margin-bottom: 60px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .card {
    width: 80%;
    margin: auto;
    margin-top: 30px;
  }