<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Compliance Templates</mat-card-title>
  </mat-card-header>
<div class="example-action-buttons">
    <button #tooltip="matTooltip" matTooltip="Create New Compliance Template" style="float: right;" mat-fab color="primary" (click)="openDialogNewTemplate()"><mat-icon>add</mat-icon></button>
</div>
<div>
<mat-card class="card" style="border: none;">
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel *ngFor="let template of templates" >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{template.complianceName}}
      </mat-panel-title>
      <mat-panel-description>
        <mat-chip-list *ngIf="template.category" aria-label="catgory selection">
        <mat-chip>{{template.category}}</mat-chip>
      </mat-chip-list>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-selection-list #shoes [multiple]="false">
      <mat-card-header>
        <mat-card-title>Forms needed for Compliance</mat-card-title>
      </mat-card-header>
        <mat-list-option *ngFor="let form of template?.formTemplates" [value]="form?.name">
            <p style="font-size: 15px;">
                <span   >{{form.formName}}</span>
                <mat-icon (click)="deleteForm(form.id)" style="font-size: 20px;float:right">close</mat-icon>
                <mat-icon (click)=downloadFile(form.path) style="font-size: 20px;float:right" >attach_file</mat-icon>
              </p>
        </mat-list-option>
      </mat-selection-list>
      <mat-divider></mat-divider>
    <button style="float:right;margin-top: 5px;" mat-button (click)="openDialog(template.id)">Add New Form</button>
  </mat-expansion-panel>
  
</mat-accordion>
</mat-card>
</div>
</mat-card>
