<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Upload</mat-card-title>
      </mat-card-header>
    <div class="example-card">
        <p><sup>*</sup> Below is a option to upload a spreadsheet to create compliance tasks in bulk with due dates </p>
        <label class="file">
            <input type="file" id="file" aria-label="File browser example"
                (change)="handleFileInput($event.target.files)">
            <span class="file-custom"></span>
        </label>
        <span>{{fileToUpload? fileToUpload.name : ""}}</span>
        <div>
            <button mat-raised-button color="primary" (click)="handleClick()"
                [disabled]="fileToUpload ? false : true">Upload</button>
        </div>
    </div>
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Create Compliance Notifications</mat-card-title>
      </mat-card-header>
    <div class="example-card">
        
        <div class="example-container">
            <p>
                <mat-form-field hintLabel="Title of the Notification" appearance="fill">
                    <mat-label>Notification</mat-label>
                    <input [formControl]="titleFormControl" matInput #input required placeholder="">
                    <!-- <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint> -->
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Source</mat-label>
                    <input [formControl]="sourceFormControl" matInput #input required placeholder="Ex. Dept of Finance">
                    <!-- <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint> -->
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Published Date</mat-label>
                    <input [formControl]="pubDateFormControl" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </p>
            <button mat-raised-button color="primary" (click)="handleNotificationSubmit()"
                [disabled]="titleFormControl.hasError('required') || sourceFormControl.hasError('required') || pubDateFormControl.hasError('required')">Create Notification</button>
        </div>
    </div>
</mat-card>