.file {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 2.5rem;
}

.file input {
    min-width: 14rem;
    margin: 0;
    filter: alpha(opacity=0);
    opacity: 0;
}

.file-custom {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: whitesmoke;
    background-color: #fff;
    border: .075rem solid #ddd;
    border-radius: .25rem;
    box-shadow: inset 0 0.2rem 0.4rem rgba(0,0,0,.05);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.file-custom {
    position: absolute;
    top: -.075rem;
    right: -.075rem;
    bottom: -.075rem;
    z-index: 6;
    display: block;
    content: "Browse";
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: black;
    background-color:whitesmoke;
    border: .075rem solid #ddd;
    border-radius: 0 .25rem .25rem 0;
    width: 200px;
}

.file-custom::before {
    content: "Browse";
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 50px;
  }

  .button-align {
    margin: auto;
    width: 30%;
    padding: 10px;
  }

  .file-list {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .example-card {
    max-width: 800px;
    left: 30%;
    height: 300px;
    margin: auto;
    margin-top: 30px;
    width: 50%;
  }

  .card {
      width: 80%;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 10px;
  }

  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  mat-form-field {
      width: 90%;
  }