/* You can add global styles to this file, and also import other style files */
@import 'flatpickr/dist/flatpickr.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cal-day-badge {
    background-color: black !important;
  }

  .cal-cell {
      outline: none;
  }

  .cal-open {
      color: blue;
      font-size: 20px;
  }


  .cal-month-view .cal-cell .cal-events .cal-event {
    width: 100% !important;
    border-radius: 0 !important;
  }