<div>
    <div style="display: flow-root"><a style="float:right" mat-button (click)="download()">Download</a></div>
    <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let element"> <button mat-button (click)="openDialog(element.id)">{{element.name}}
                    </button></td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="dueDate">
                <th mat-header-cell *matHeaderCellDef> Due Date </th>
                <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="assignee">
                <th mat-header-cell *matHeaderCellDef> Assignee </th>
                <td mat-cell *matCellDef="let element"><a href="mailto:{{element.email}}?subject=Regarding Compliance : {{element.name}}" > {{element.assignee}} <mat-icon style="font-size:10px">mail</mat-icon></a></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>